.wrappper {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    height: 100%;
    padding: 15%;
}

.flying-box {
    background-color: palevioletred;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 90%;
    height: 20px;
    padding: 5%;
}