.row-wrapper {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    height: 90%;
    padding: 1%;
    display: flex;
    gap: 25px;
}

.column-wrapper {
    width: 40%;
    height: 50%;
}

.box {
    border: 1px solid rgb(20, 127, 189);
    background-color: red;
    padding: 5%;
    text-align: center;
}